.contacts
    a.contact(href="tel:+380960282035")
        i.fa.fa-mobile.contact__icon(aria-hidden="true")
        span.contact__text +380960282035
    a.contact(href="mailto:anatoliy.sidorov@gmail.com")
        i.fa.fa-envelope.contact__icon-email(aria-hidden="true")
        span.contact__text anatoliy.sidorov@gmail.com
    a.facebook-icon(href="facebook.com")
        i.fa.fa-facebook-official.contact__icon(aria-hidden="true")